body {
  font-family: Lato;
  margin: 10%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

.note {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
}

.sendButton {
  color: blue;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
input[type="submit"] {
  padding: 7px;
  background: #ff3213;
  border: 0 none;
  color: white;
  cursor: pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
input[type="submit"]:disabled {
  color: #ccc;
  background: #ddd;
}
.hide {
  display: inline-block;
  visibility: hidden;
}
.show {
  visibility: visible;
  font-weight: 500;
}
input[type="text"] {
  border: 1px solid #37ddc7;
  font-weight: 400;
  color: hsl(0, 0%, 45%);
}
input[type="text"]:focus {
  border: 1px solid #04bda4;
}

input {
  margin: 0 5px 0 5px;
}

.messageBox {
  border: 1px solid #37ddc7;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 5em;
  width: 50%;
  border-radius: 5px;
  box-shadow: 2px 3px #dceedf;
  margin: 10px;
}
.messageBox p {
  font-style: italic;
  font-weight: 200;
}
.toggleButton {
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 2px 4px #dceedf;
  width: 20%;
  margin: 10px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  transition-duration: 0.4s;
  /* float: right; */
}
.wrapper-console {
  display: flex;
  flex-flow: column;
  /* align-items:center; */
  width: 50%;
}
.onToggle {
  color: #37ddc7;
}

.offToggle {
  color: #b9d6d2;
  box-shadow: 1px 3px #ebeeec;
}

.fade {
  background: rgb(247, 244, 244);
  padding: 3px 8px;
  display: inline-block;
  transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -webkit-transition: background 0.25s ease-in-out;
}

.fade:hover {
  background: #ddd;
}
hr {
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.shadow {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

hr .grad {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
